<footer>
    <div class="pb-6 pt-6 bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-4 text-white">YOU THINK WE'RE COOL ? LET'S WORK TOGETHER</h2>
                    <button type="button" class="btn btn-light mb-4">Get in touch</button>
                </div>
                <div class="col-md-6">
                    <form action="" class="bg-white p-4">
                        <h3> STAY INFORMED WITH OUR NEWSLETTER</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control pl-4 pr-3" placeholder="YOUR E-MAIL" aria-label="your e-mail" aria-describedby="button-addon2" required>
                            <div class="input-group-append">
                              <button class="btn btn-primary" type="button" id="button-addon">Button</button>
                            </div>
                          </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="pb-5 pt-6">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-unstyled text-uppercase list-inline footnav">
                        <li class="list-inline-item"><a class="link-inverse" href="#">home</a></li>
                        <li class="list-inline-item"><a class="link-inverse" href="#">about us</a></li>
                        <li class="list-inline-item"><a class="link-inverse" href="index.html">services</a></li>
                        <li class="list-inline-item"><a class="link-inverse" href="#">portfolio</a></li>
                        <li class="list-inline-item"><a class="link-inverse" href="blog.html">blog</a></li>
                        <li class="list-inline-item"><a class="link-inverse" href="#">contact us</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <span class="text-right">Created by <a href="#">akhouad</a> 2016. All Rights Reserved</span>
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item mx-2 h4 mt-2"><a class="link-inverse" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item mx-2 h4 mt-2"><a class="link-inverse" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item mx-2 h4 mt-2"><a class="link-inverse" href="#"><i class="fab fa-youtube"></i></a></li>
                        <li class="list-inline-item mx-2 h4 mt-2"><a class="link-inverse" href="#"><i class="fab fa-invision"></i></a></li>
                        <li class="list-inline-item mx-2 h4 mt-2"><a class="link-inverse" href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        <li class="list-inline-item mx-2 h4 mt-2"><a class="link-inverse" href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>