<header class="headroom fixed-top">
    <nav class="navbar navbar-light text-uppercase">
        <div class="container">
            <a class="navbar-brand text-uppercase text-secondary mb-0 h1" href="#">Akad.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav ml-auto text-right text-uppercase">
                    <a class="nav-item nav-link" href="#"><s>Home</s> <span class="sr-only">(current)</span></a>                
                    <a class="nav-item nav-link active" href="#">servies</a>                
                    <a class="nav-item nav-link" href="blog.html">blog</a>               
                    <a class="nav-item nav-link" href="#"><s>contact</s></a> 
                </div>
            </div>
        </div>
    </nav>
</header>