@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans&display=swap');

@import 'bootstrap/bootstrap';
@import 'variables';
@import 'mixins';
// @import 'ionicons.min';
@import 'animate';

html{
    font-size: 14px;
}

main{
    overflow: hidden;
}

header{
    text-align: center;
    padding: 50px; // header!
}
img{
    width: 100%;
}

.marked{
    display: inline-block;
    position: relative;
    &:before{
        position: absolute;
        content: '';
        display: inline-block;
        width: 75px;
        height: 25px;
        background-color: $primary;
        top: 50%;
        left: -5px;
        z-index: -1;
    }
}

.font-large{
    font-size: 60px;
}


.plan{
    border-top: 5px solid $primary;
    position: relative;
    padding: $spacer * 3 $spacer * 2 ;
    margin: $spacer;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-top-color: $primary;
        border-right-color: $primary;
    }
    @include hover {
        box-shadow:  0px 5px 10px 5px rgba($color: #000, $alpha: .3)
    }
}


.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
    background-color: rgba($color: (#eee), $alpha: .7);
}
.headroom--top{
    background-color: transparent;
}
.headroom--unpinned {
    transform: translateY(-100%);
}

.hero{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $gray-400;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba($gray-400, .1), rgba($gray-400, .1)  ), url(../img/bgi.png);
    background-blend-mode: overlay;
    filter: grayscale(80%);
}

a{
    color: $primary;
    @include hover{
        color: $gray-600;
        text-decoration: none;
    }
}
.footnav{
    li+li::before{
        content: "-";
        margin-right: $spacer * .75  ;
    }
}

.link-inverse{
    color: $gray-600;
    @include hover{
        color: $primary;
        text-decoration: none;
    }
    
}